@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

h1 {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

li {
  background: skyblue;
  padding: 5px;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  
  font-weight: bold;
  text-align: center;
}

.click-counter {
  background-color: tomato;
  text-align: center;
  font-size: 3em;
  width: 10%;
  border-radius: 10px;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}